c/*Desktop Style Sheet*/

/*
   _____               .__         .___                       _________.__               .__     
  /  _  \_______  _____|  |__    __| _/____   ____ ______    /   _____/|__| ____    ____ |  |__  
 /  /_\  \_  __ \/  ___/  |  \  / __ |/ __ \_/ __ \\____ \   \_____  \ |  |/    \  / ___\|  |  \ 
/    |    \  | \/\___ \|   Y  \/ /_/ \  ___/\  ___/|  |_> >  /        \|  |   |  \/ /_/  >   Y  \
\____|__  /__|  /____  >___|  /\____ |\___  >\___  >   __/  /_______  /|__|___|  /\___  /|___|  /
        \/           \/     \/      \/    \/     \/|__|             \/         \//_____/      \/ 
*/
html{
	font-size: 16px;
}

body{
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	font-size: 1rem;
	background-color: #999;
	box-sizing: border-box;
	/*
  background: #ece9e6;
  background: -webkit-linear-gradient(to top, #ece9e6, #ffffff);
  background: linear-gradient(to top, #ece9e6, #ffffff);
	*/
	margin: 0;
}

div{
	margin: 0;
}

h3{
	margin: 0;
}

#wrapper{
	width: 960px;
	margin: 0 auto;
	background-color: #e9ece5;
	min-height: 800px;
}

/*style for ur here indicator */
nav ul#main_menu li a.i_am_here{
	background-color: #000;
	color: #fff;
}

/*style for header starts*/
#container_header{
	width: 100%;
	background-color: #3b3a36;
	/*
	background: #8e9eab;
  background: -webkit-linear-gradient(to bottom, #8e9eab, #eef2f3);
  background: linear-gradient(to bottom, #8e9eab, #eef2f3); */
}
header{
	margin: 0 auto;
	width: 960px;
	height: 100px;
	position: relative;
	background-color: #3b3a36;
	padding-top: 20px;
	/*background: #8e9eab;
  background: -webkit-linear-gradient(to bottom, #8e9eab, #eef2f3);
  background: linear-gradient(to bottom, #8e9eab, #eef2f3); */
}
#logo{
	display: inline-block;
	float: left;
	top: 10px;
	height: 80px;
	width: 80px;
	margin:0 10px 10px 10px;
	/*background-color: chartreuse;*/
	background-image: url(../images/logo_white.svg);
}
#tagline{
	/*background-color: chartreuse;*/
	display: inline-block;
	float: left;
	position: relative;
	top: 30px;
}
#tagline h1{
	margin: 0;
	color: #fff;
}
#utility_nav{
	position: absolute;
	top: 15px;
	right: -5px;
	/*background-color: #666666;*/
	padding: 0px;
}
#utility_nav ul{
	display: inline-block;
	padding: 0;
	margin: 0;
}
#utility_nav li{
	margin: 0;
	text-decoration: none;
	display: inline-block;
	padding: 2px 10px;
}
#utility_nav li a{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	padding: 4px;
}

#utility_nav li a:hover{
	color: #f33;
}

#utility_nav li a#special{
	border: 1px solid #fff;
	border-radius: 5px;
}
#utility_nav li a#special:hover{
	border: 1px solid #f33;
	border-radius: 5px;
	color: #f33;
}
#search_div{
	top: 40px;
	font-size: 18px;
	width: 600px;
	margin: 0 auto;
	margin-top: 20px;
}
#search_bar{
	line-height: 0;
}
#search_bar p a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

#search_div #search_bar #search{
	/*font-size: inherit;*/
	border: 0.1em solid #7e7;
	border-radius: 0.5em 0 0 0.5em;
	padding: 0.2em 0.5em;
	outline: 0;
	width: 90%;
	height: 30px;
}

#search_div #search_bar #search:hover,
#search_div #search_bar #search:focus{
	border-color: #4d4;
	
}

#search_div #search_bar #search_button{
	/*font-size: inherit;*/
	border: 0.2em solid #7e7;
	border-radius: 0 0.5em 0.5em 0;
	background-color: #7e7;
	border-left: 0;
	padding: 0.05em 0.80em;
	color: white;
	font-weight: bold;
	outline: 0;
	cursor: pointer;
	position: absolute;
	height: 37px;
}

#search_div #search_bar #search_button:hover,
#search_div #search_bar #search_button:focus{
	border-color: #4d4;
	background-color: #4d4;
}
/*style for header ends*/

/*CSS styles for desktop navigation starts */
nav{
	/*height: 40px;*/
	background-color: #e9ece5;
	position: relative;
	border-bottom: 1px solid #000;
	
}
nav ul#main_menu{
	list-style-type: none;
	margin: 0;
	margin-right: -4px;
	padding: 0;
}
nav ul#main_menu li{
	display: inline-block;
	border-right: 1px solid #000;
	width: 120px;
	height: 100%;
	margin: 0;
}
nav ul#main_menu li a{
	text-decoration: none;
	background-color: #e9ece5;
	color: #000;
	text-align: center;
	padding: 10px;
	display: block;
}
nav ul#main_menu li a:hover{
	background-color: #000;
	color: #fff;
}
/*Sub menu tab 3*/
nav ul#main_menu li.submenu3{
	position: relative;
}
nav ul#main_menu li.submenu3 ul.itemlist{
	position: absolute;
	height: 0;
	left: 0;
	padding: 0;
	overflow: hidden;
	opacity: 0;
	transition: opacity .1s ease-in;
}
nav ul#main_menu li.submenu3 ul.itemlist li{
	display: block;
	background-color: #660;
	border: 1px solid #000;
	width: 150px;
}
nav ul#main_menu li.submenu3 ul.itemlist li a{
	font-size: 18px;
	text-align: center;
	/*height: 30px;*/
	width: auto;
	white-space: nowrap;
	/*padding: 14px 20px 0 20px;*/
	border: none;
}
nav ul#main_menu li.submenu3:hover ul.itemlist{
	height: auto;
	opacity: 1;
}
/*css styles for navigation ends*/

/*css style for content div*/
#content{
	min-height: 800px;
	
}

.about{
	padding: 25px;
	line-height: 2rem;
}

/*Main index page only CSS Starts*/
#hero_div{
	/*height: 400px;*/
	width: 100%;
	/*background-color: aqua;*/
	background-size: contain;
}
#latest_games, #pc_games, #ps4_games, #xbox_games{
	width: 50%;
	display: inline-block;
	float: left;
	text-align: center;
}
#offers_div p.tag1{
	background-color: #3b3a36;
	padding: 20px;
	font-size: 1.2rem;
	color: #fff;
	font-weight: bold;
}
#offers_div{
	margin: 0 auto;
	width: 800px;
	min-height: 300px;
	/*padding: 10px;*/
	/*background-color: darkviolet;*/
}
.latest_games_items, .upcomming_games_items{
	display: inline-block;
	/*background-color: #f33;*/
	float: left;
	padding: 20px;
}

/*Main index page only CSS Starts*/

/*Best Offers page CSS Starts*/
#offer_heading{
	padding: 10px;
}
#offer_table{

	padding: 20px;
}
table{
	margin: 0 auto;
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 700px;
	border-spacing: 0px;
	margin-bottom: 20px;
	padding: 5px;
}
th, td{
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
}
th{
	color: #000;
	background-color: #ccc;
}
caption{
	padding: 5px;
	background-color: #999;
}
.button{
	height: 32px;
	width: 80px;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
	border: 2px solid #000;
}
.button:hover{
	border-radius: 5px;
	background-color: #000;
	color: #fff;
}

.old_price{
	text-decoration: line-through;
	text-decoration-color: #f00;
}
/*Best Offers page CSS Ends*/

/*PC, PS4, Xbox1 Games page CSS Starts*/
#form_div{
  background-color: #e9ece5;
}
#content #filter_box{
	width: 25%;
	background-color: #fff;
	display: inline-block;
	float: left;
}
#content #filter_box #form_div{
	padding: 20px;
}
#content #filter_box #form_div p{
	margin-top: 15px;
	margin-bottom: 5px;
	font-weight: 700;
}
/*
input[type="submit"]{
	background-color: #fff;
	color: #000;
	padding: 5px;
}
input[type="submit"]:hover{
	color: #fff;
	background-color: #000;
}*/
#content #games_showcase{
	width: 74%;
	margin-left: 240px;
}
#content #games_showcase #gallery{
	margin-top: 10px;
}
.clearfix{
	clear: both;
}
#content #games_showcase #gallery p {
    margin: 0;
    text-align: center;
}
#content #games_showcase #gallery .item1{
	margin: 20px;
	margin-bottom: 30px;
	height: 300px;
	width: 160px;
	display: inline-block;
	float: left;
	background-color: #ccc;
}
.button a{
	padding-top: 10px;
	padding-right: 8px;
	padding-bottom: 13px;
	padding-left: 4px;
	text-decoration: none;
	color: #000;
}
.button a:hover{
	color: #fff;
}

/*PC, PS4, Xbox1 Games page CSS Ends*/

/*Signup page CSS Starts*/
#registrationForm{
	margin: 0 auto;
	padding: 30px;
	width: 60%;
	text-align: center;
}
fieldset{
	border: 1px solid #000;
	border-radius: 10px;
	text-align: center;
}
legend{
	font-size: 0.8em;
	text-decoration: underline;
}
input[type=text],
input[type=password],
input[type=email],
input[type=tel]{
	border: none;
	border-bottom: 1px solid #000;
}
#registrationForm label{
	font-weight: 700;
	width: 150px;
	float: left;
}
#registrationForm .sign_up_formbutton{
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 10px;
	font-weight: 700;
	/*padding: 10px;*/
	width: 180px;
}
#registrationForm .sign_up_formbutton:hover{
	background-color: #000;
	color: #fff;
}
fieldset{
		line-height: 30px;
}
#formButton{
	padding: 0 0 0 2px;
}
.show_error{
	color: #f00;
}
form p label .required_field{
	color: #f00;
	font-size: 1.6rem;
}
#results h1{
	padding-top: 20px;
}
#results{
	background-color: #eee;
	width: 80%;
	margin: 0 auto;
}
#results table td,th{
	padding: 10px;
}/*Signup page CSS Ends*/


/*Login page  CSS starts*/
#login_container{
	width: 60%;
	/*background-color: #eee;*/
	border-radius: 5px;
	border: 1px solid #000;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	padding: 3%;
}

#login_container input, password{
	height: 40px;
	width: 60%;
	border-radius: 5px;
	border: none;
	text-align: center;
	background-color: #44dd44;
}

#login_container button{
	height: 30px;
	width: 20%;
	border-radius: 5px;
	margin: 20px;
	border: 1px solid #000;
}

#login_container button:hover{
	background-color: #3b3a36;
	color: #fff;
	font-weight: 700;
}
/*Login page CSS ends starts*/

/*css styles for footer starts*/
#container_footer{
	color: #e9ece5;
	clear: both;
	width: 100%;
	background-color: #3b3a36;
	/*background: #8e9eab;
  background: -webkit-linear-gradient(to top, #8e9eab, #eef2f3);
  background: linear-gradient(to top, #8e9eab, #eef2f3); */

}
footer{
	
	margin: 0 auto;
	width: 960px;
	min-height: 200px;
	background-color: #3b3a36;
	/*background: #8e9eab;
  background: -webkit-linear-gradient(to top, #8e9eab, #eef2f3);
  background: linear-gradient(to top, #8e9eab, #eef2f3); */

}
#footer_box{
	padding: 20px;
	width: 800px;
	margin: 0 auto;

}
footer a{
	text-decoration: none;
	color: #e9ece5;
}
footer a:hover{
	text-decoration: underline;
}
footer #col1, #col2, #col3, #col4{
	display: inline-block;
	min-width: 200px;
	float: left;
}
#social_icons{
	margin-top: 10px;
}
.icons{
	height: 40px;
	width: 40px;	
	display: inline-block;
	float: left;
	margin-right: 5px;
}
footer ul{
	list-style-type: none;
	margin-top: 10px;
	padding: 0;
}
footer p{
	padding: 0;
	margin: 0;
	text-align: center;
}

/*css styles for footer ends*/

/*Media queries for desktop responsivness*/
@media screen and (max-width: 982px){
	
	#wrapper{
		width: 100%;
	}
	#hero_div img{
		width: 100%;
	}
	header{
		width: 100%;
	}
	footer{
		width: 100%;
	}
	
}

.special{
	background: #f33 !important;
}

#flash_message{
	background-color: #f33;
	opacity: 0.5;
	height: 100px;
	width: 80%;
	margin: 0 auto;
	border-radius: 5px;
	padding-top: 15%;
}
#flash_message2{
	background-color: #3f3;
	opacity: 0.5;
	height: 100px;
	width: 80%;
	margin: 0 auto;
	border-radius: 5px;
	padding-top: 10%;
	text-align: center;
}

#profile{
	/*background-color: #cccccc;*/
	padding: 20px;
	text-align: center;
}

#profile img{
	height:250px;
	width: 250px;
	margin: 0 auto;
	display: block;
	border-radius: 50%;
	box-shadow: 5px 5px #4d4;
}
#profile #personal_info, #address_info{
	width:50%;
	margin: 0 auto;
	/*background-color: #44dd44;*/
}

#profile table td{
	width: 50%;
}
#profile #personal_info table{
	width: 100%;
}

#profile #address_info table{
	width: 100%;
}
@media screen and (max-width: 817px){
	header #tagline{
		font-size: 12px;
	}
}

@media screen and (max-width: 788px){
	#wrapper nav ul li a{
		width: 110px;
	}
}

/*Styles for product details page*/
#game_detail{
	min-height: 500px;
	width: 90%;
	margin: 0 auto;
	/*background-color: #f33;*/
	padding: 20px;
}

#game_detail #game_image{
	width: 35%;
	height: 300px;
	/*background-color: #3f3;*/
	display: inline-block;
	float: left;
}

#game_detail #game_info{
	width: 60%;
	height: 300px;
	margin-left: 20px;
	/*background-color: #33f;*/
	display: inline-block;
	float: left;
}

#game_detail #game_description{
	clear: both;
	width: 90%;
	min-height: 200px;
	margin: 0 auto;
	margin-top: 10px;
	/*background-color: aqua;*/
}

#game_detail #game_info h2{
	margin: 0px;
}

#game_detail #game_image img{
	margin: 40px;
}

.cartbutton{
	height: 32px;
	width: 120px;
	margin-top: 20px;
	text-align: center;
	padding-top: 10px;
	border: 2px solid #000;
}
.cartbutton:hover{
	border-radius: 5px;
	background-color: #000;
	color: #fff;
}

.cartbutton a{
	padding-top: 10px;
	padding-right: 18px;
	padding-bottom: 13px;
	padding-left: 18px;
	text-decoration: none;
	color: #000;
}
.cartbutton a:hover{
	color: #fff;
}

#offers_div img{
	display:inline-block;
	height:200px;
	width: 160px;
}

#searched_product{
	width: 80%;
	margin: 0 auto;
	/*background-color: #f33;*/
	padding: 20px;
	border: 1px solid #000;
	border-radius: 10px;
}

#searched_product a{
	text-decoration: none;
	display: inline-block;
	font-size: 0.8rem;
	width:100px;
	text-align: center;
	padding: 5px;
	border-radius: 10px;
	background-color: #ccc;
	color: #000;
}

#searched_product a:hover{
	background-color: #bbb;	
}

/* styles for search list */
#container_header header #search_div #list{
    background-color: #fff;
    border-bottom: 1px solid #000000;
    list-style-type: none;
    margin: 0;
    min-width: 560px;
    position: absolute;
    z-index: 100;
    padding: 0;
  }

  #container_header header #search_div #list ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  #container_header header #search_div #list ul li{
    padding: 20px;
  }

  #container_header header #search_div #list ul li:hover{
    background-color: #ddd;
    cursor: pointer;
  }

  /*add to cart button styles*/
  #cartbutton{
  	padding: 20px;
  }
  button{ 
  	/*padding: 10px;*/
  	border: 1px solid #000;
  }

  button:hover{
  	cursor: pointer;
  	color: #fff;
  	background-color: #3b3a36;
  }


  /*Styles for cart div*/
  #cart{
  	/*background-color: #f33;*/
	width: 250px;
	min-height: 150px;
	position: absolute;
	top: 200px;
	right: 200px;
	text-align: center;
	/*border: 1px solid #000;*/
	padding: 5px;
  }
  #cart table#cart_table{
  	width: 100%;
  	font-size: 0.8rem;
  }

  #cart table#cart_table th,tr{
  	padding: 2px;
  }

  #cart span.remove a{
  	text-decoration: none;
  	color: #999;
  	/*font-size: 1.3rem;*/
  }
  #cart span.remove a:hover{
  	color: #f00;
  }

  #cart a#checkout{
  	text-decoration: none;
  	color: #000;
  	display: inline-block;
	padding: 7px;
	background-color: #888;
	border-radius: 5px;
  }

  #cart a#checkout:hover{
  	background-color: #900;
  	color: #fff;
  }

  p#checkout_page{
  	text-align: center;
  }
  p#checkout_page a{
  	text-decoration: none;
  	color: #000;
  	display: inline-block;
	padding: 7px;
	background-color: #888;
	border-radius: 5px;
  }
  p#checkout_page a:hover{
  	background-color: #900;
  	color: #fff;
  }

  p#profile_buttons{
  	text-align: center;
  }
  p#profile_buttons a{
  	text-decoration: none;
  	color: #000;
  	display: inline-block;
  	width: 100px;
	padding: 7px;
	background-color: #888;
	border-radius: 5px;
  }
  p#profile_buttons a:hover{
  	background-color: #900;
  	color: #fff;
  }

  input[type=submit],
  input[type=reset]{
  	width: 150px;
  	height: 30px;
  	border: 0;
  	border-radius: 5px;
  	background-color: #888;
  }

  input[type=submit]:hover,
  input[type=reset]:hover{
  	background-color: #800;
  	color: #fff;
  }

  .my_form{
		width: 50%;
		margin: 0 auto;
	}
	.my_form p{
	text-align: center;
	}
	.my_form label{
		width: 190px;
		display: inline-block;
		text-align: center;
	}
	.my_form input[type=text], input[type=tel],input[type=email],input[type=password] {
		width: 200px;
		border: none;
		height: 30px;
		padding: 5px;
		text-align: center;
	}
  .my_form input[type=text]:hover{
		background-color: #3f3;
	}

	#new_flash_message{
	background-color: #f33;
	opacity: 0.5;
	width: 40%;
	margin: 0 auto;
	border-radius: 5px;
	}

	#new_flash_message p{
		text-align: center;
		padding: 20px;
	}

	#thankyou{
		width: 80%;
		margin: 0 auto;
		padding-right: 5%;
	}
	#thankyou table{
		margin-top: 40px;
	}