/*Mobile Style Sheet*/

/*
   _____               .__         .___                       _________.__               .__     
  /  _  \_______  _____|  |__    __| _/____   ____ ______    /   _____/|__| ____    ____ |  |__  
 /  /_\  \_  __ \/  ___/  |  \  / __ |/ __ \_/ __ \\____ \   \_____  \ |  |/    \  / ___\|  |  \ 
/    |    \  | \/\___ \|   Y  \/ /_/ \  ___/\  ___/|  |_> >  /        \|  |   |  \/ /_/  >   Y  \
\____|__  /__|  /____  >___|  /\____ |\___  >\___  >   __/  /_______  /|__|___|  /\___  /|___|  /
        \/           \/     \/      \/    \/     \/|__|             \/         \//_____/      \/ 
*/

body{
	font-family: 'Acme', Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	margin: 0;
}
header{
	width: 100%;
	height: 100px;
	background-color: #fff;
	background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #8e9eab, #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #8e9eab, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#logo{
	display: inline-block;
	float: left;
	position: relative;
	top: 10px;
	height: 80px;
	width: 80px;
	margin:0 10px 10px 10px;
	background-image: url(../images/Logo-01.svg);
}
#tagline{
	/*background-color: chartreuse;*/
	display: inline-block;
	float: left;
	position: relative;
	top: 40px;
}
#tagline h1{
	margin: 0px;
	font-size: 1rem;
}
#search_div{
	position: absolute;
	top: 65px;
	right: 5px;
}
#search_div #search_bar input[type=text]{
	border: 1px solid #000;
	border-radius: 5px;
	display: inline-block;
	float: left;
	padding: 8px;
}
#search_div #search_bar input[type=submit]{
	border-radius: 5px;
	border: 1px solid #000;
	margin-left: 7px;
	padding: 8px;
}
#wrapper{
	width: 100%;
}
footer{
	width: 100%;
}

/* CSS for mobile navigation starts */
nav{
	/*position: fixed;*/
	top: 3px;
	right: 5px;
	z-index: 5000;
}
nav #menu{
	position: absolute;
	top: 6px;
	right: 10px;
	z-index: 5000;
	width: 150px;
	perspective: 1000px;
	perspective-origin: 100% 100%;
}
nav #menu ul#main_menu{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 40px;
	width: 180px;
	right: 0;
	background-color: #444;
	padding: 3px;
	padding-bottom: 1px;
	top: 42px;
	margin-right: 2px;
	opacity: 0;
	height: 0;
	transform: rotateX(90deg);
	pointer-events: none;
	transform-origin: top;
	transition: all .4s ease-in-out;
}
nav #menu:hover ul#main_menu{
	opacity: 1;
	height: auto;
	transform: rotateX(0deg);
	pointer-events: auto;
}
nav #menu ul li{
	list-style-type: none;
}
nav #menu ul li a{
	display: block;
	text-decoration: none;
	padding-top: 10px;
	height: 28px;
	background: linear-gradient(#eee, #aaa);
	color: #000;
	padding-left: 13px;
	font-weight: bold;
	margin-bottom: 3px;
}
nav #menu a#menulink{
	display: block;
	position: absolute;
	top: 0;
	right: -6px;
	width: 27px;
	height: 27px;
	border: 3px solid #444;
	background-color: #ddd;
	padding: 6px;
}
/*hamburger menu lines */
nav a#menulink #hamburger_top,
nav a#menulink #hamburger_middle,
nav a#menulink #hamburger_bottom{
	display: block;
	background-color: #444;
	width: 100%;
	margin-bottom:6px;
	height: 3px;
	transform: translateY(0) rotate(0deg);
	/*transform-origin: center;*/
}
nav #menu:hover a#menulink span{
	color: #f00;
}
nav #menu:hover a#menulink #hamburger_top{
	transform: translateY(8px) rotate(45deg);
}
nav #menu:hover a#menulink #hamburger_middle{
	opacity: 0;
}
nav #menu:hover a#menulink #hamburger_bottom{
	transform: translateY(-10px) rotate(-45deg);
}
nav #menu li.has_submenu ul{
	margin-top: 0;
	padding: 0;
	margin-left: 12px;
	width: auto;	
}
nav #menu li.has_submenu ul li a{
	font-weight: normal;
	background: linear-gradient(#eee, #ff3);
}
#content{
	min-height: 500px;
}
/* CSS for mobile navigation ends */

/*Mobile CSS Styles for index.html starts*/
#hero_div img{
	/*height: 400px;*/
	width: 100%;
	/*background-color: aqua;*/
	background-size: contain;
}
#offers_div{
	text-align: center;
}
#latest_games, #pc_games, #ps4_games, #xbox_games{
	min-height: 250px;
	display: inline-block;
	margin: 0 auto;
	min-width: 320px;
}
.upcomming_games_items, .latest_games_items{
	/*width: 50%;*/
	display: inline-block;
	float: left;
	margin: 20px;
	background-color: #ccc;
}
#callout{
	margin: 0px;
	display: inline-block;
	background-color: aqua;
	width: 100%;
	padding: 20px 0px;
	-webkit-animation: blink 1s infinite;
	animation: blink 1s infinite;
}
#callout p{
	text-align: center;
}
/*Mobile CSS Styles for index.html ends*/

/*Mobile CSS Styles for pc_games ps4 games and xbox1 starts*/
#content #filter_box{
	width: 30%;
	background-color: #fff;
	display: inline-block;
	float: left;
}
#content #filter_box #form_div{
	padding: 20px;
}
#content #filter_box #form_div p{
	margin-top: 15px;
	margin-bottom: 5px;
	font-weight: 700;
}
input[type="submit"]{
	background-color: #fff;
	color: #000;
	padding: 5px;
}
input[type="submit"]:hover{
	color: #fff;
	background-color: #000;
}
#games_showcase{
	padding-left: 40%;
}
#content #games_showcase #gallery .item1{
	margin: 20px;
	margin-bottom: 30px;
	height: 300px;
	width: 160px;
	display: inline-block;	
	float: left;
}
#content #games_showcase #gallery .item1 p{
	margin: 5px;
	text-align: center;
}
.button a{
	padding-top: 10px;
	padding-bottom: 13px;
	text-decoration: none;
	color: #000;
}
.button a:hover{
	color: #fff;
}
/*Mobile CSS Styles for pc_games ps4 games and xbox1 ends*/
p{
	clear: both;
	margin: 5px;
}
#clearfix{
	clear: both;
}

/*Best Offers page CSS Starts*/
#offer_heading{
	padding: 10px;
}
#offer_table{

	padding: 20px;
}
table{
	margin: 0 auto;
	border: 3px solid #666;
	border-collapse: collapse;
	width: 100%;
	border-spacing: 0px;
	margin-bottom: 20px;
}
th, td{
	border: 3px solid #666;
	padding: 5px;
	text-align: center;
}
th{
	color: #fff;
	background-color: #000;
}
caption{
	background-color: #999;
}
.button{
	height: 32px;
	width: 80px;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
	border: 2px solid #000;
}
.button:hover{
	border-radius: 5px;
	background-color: #000;
	color: #fff;
}
.old_price{
	text-decoration: line-through;
	text-decoration-color: #f00;
}
table img{
	max-width: 80%;
}
/*Best Offers page CSS Ends*/

/*Signup page CSS Ends*/
#registrationForm{
	margin: 0 auto;
	padding: 30px;
	width: 80%;
	text-align: center;
}
fieldset{
	border: 1px solid #000;
	border-radius: 10px;
	text-align: center;
}
legend{
	font-size: 0.8em;
	text-decoration: underline;
}
#registrationForm label{
	font-weight: 700;
	width: 166px;
	display: block;
	float: left;
}
input[type=text],
input[type=password],
input[type=email],
input[type=tel]{
	border: none;
	border-bottom: 1px solid #000;
}
.sign_up_formbutton{
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 10px;
	font-weight: 700;
	padding: 10px;
	width: 180px;
	margin: 10px 0 0 0;
}
.sign_up_formbutton:hover{
	background-color: #000;
	color: #fff;
}
fieldset{
		line-height: 30px;
}
#formButton{
	padding: 0 0 0 2px;
	
}
/*Signup page CSS Ends*/

/*Mobile CSS Styles for footer starts*/
#container_footer{
	clear: both;
}
footer{
	background-color: #fff;
	background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #8e9eab, #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8e9eab, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
footer a{
	text-decoration: none;
	color: #000;
}
footer a:hover{
	text-decoration: underline;
}
footer #col1, #col2, #col3, #col4{
	width: 100%;
	min-height: 100px;
	border-top: 1px solid #000;
	text-align: center;
}
footer h3{
	margin-top: 5px;
	margin-bottom: 10px;
}
#social_icons {
    margin: 0 auto;
    width: 180px;
    min-height: 50px;
    margin-top: 10px;
}
.icons{
	height: 40px;
	width: 40px;	
	display: inline-block;
	float: left;
	margin-right: 5px;
}
footer ul{
	list-style-type: none;
  margin-top: 0px;
  margin-bottom: 13px;
	padding: 0;
}
/*Mobile CSS Styles for footer ends*/

@-webkit-keyframes blink{
	0%   {background-color: #ff3; }
  25%  {background-color: #f33;}
  50%  {background-color: #33f;}
  75%  {background-color: #f3f}
  100% {background-color: #ff4}
}
@keyframes blink{
	0%   {background-color: #ff3; }
  25%  {background-color: #f33;}
  50%  {background-color: #33f;}
  75%  {background-color: #f3f}
  100% {background-color: #ff4}
}






















