/*Print Style Sheet*/
/*
   _____               .__         .___                       _________.__               .__     
  /  _  \_______  _____|  |__    __| _/____   ____ ______    /   _____/|__| ____    ____ |  |__  
 /  /_\  \_  __ \/  ___/  |  \  / __ |/ __ \_/ __ \\____ \   \_____  \ |  |/    \  / ___\|  |  \ 
/    |    \  | \/\___ \|   Y  \/ /_/ \  ___/\  ___/|  |_> >  /        \|  |   |  \/ /_/  >   Y  \
\____|__  /__|  /____  >___|  /\____ |\___  >\___  >   __/  /_______  /|__|___|  /\___  /|___|  /
        \/           \/     \/      \/    \/     \/|__|             \/         \//_____/      \/ 
*/

body{
  font-family: Arial, sans-serif;
  font-size: 16px;

}

#wrapper{
  width: 100%;
}

header{
  height: 85px;
}

/* Items to hide */
nav{
  display:none;
}

#content{
  min-height: 500px;
}

/* Regular content styles would go here. Headings, paragraphs
   etc. This example doesn't really have any. */
   
footer{
  height: 150px;
}